div.container.center
  div.header
    h1 The 
       | #{confTitle}
       | '\s Schedules
  div.article
    ul.list
      - each p in result
        - var link = '/p/' + p._id
        li
          a(href=link)  #{p.body} | #{p.speaker} | #{p.title}
    button(id='prev_list') prev();
    button(id='curr_list') current();
    button(id='next_list') next();
  div.footer
    small made by 
      a(href='http://springsprout.org' , target="_blank") springsprout
      &nbsp;&nbsp;
      a(href='/logout', class="logout")
        b logout
script(src='/javascripts/jquery-1.6.1.min.js')
script(type='text/javascript')
  $(function(){
    $('li a').click(function(){
      var url = $(this).attr('href');
      var title = $(this).text();
      document.location.href = url;
      return false;
    });
    $('#prev_list').click(function(){
      document.location.href = '/prev';
      return false;
    });
    $('#next_list').click(function(){
      document.location.href = '/next';
      return false;
    });
    $('#curr_list').click(function(){
      document.location.href = '/curr';
      return false;
    });
  });    
