div.container.center
  div.header
    h1 The 
       | #{conf.title}
       | '\s Schedules
  div.article
    ul.list
      - each p in result
        - var link = '/p/' + p._id + '?conf=' + conf.name
        li
          a(href=link)  #{p.body} | #{p.speaker} | #{p.title}
    h1='Histories'
    ul.list.histories
      - each confTitle,confName in histories
        li
          a(href='/list?conf=#{confName}') #{confTitle}
  div.footer
    small made by 
      a(href='http://springsprout.org' , target="_blank") springsprout
      &nbsp;&nbsp;
    - if(uname!='anonymous')
      a(href='/logout', class="logout")
        b logout
    - if(uname=='anonymous')
      a(href='/', class="login")
        b login
script(src='/javascripts/jquery-1.6.1.min.js')
script(type='text/javascript')
  $(function(){
    $('li a').click(function(){
      var url = $(this).attr('href');
      var title = $(this).text();
      document.location.href = url;
      return false;
    });
    $('#prev_list').click(function(){
      document.location.href = '/prev';
      return false;
    });
    $('#next_list').click(function(){
      document.location.href = '/next';
      return false;
    });
    $('#curr_list').click(function(){
      document.location.href = '/curr';
      return false;
    });
  });    
