!!! 5
html(lang='utf-8')
	head
		title='The 11th JCO'
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.6.1.min.js')
		script(src='/javascripts/jquery-ui-1.8.13.custom.min.js')
		script(type='text/javascript')
			$(function(){			
				var disText = '불만이 있습니다.';
				var diffText = '다르게 생각합니다.';
				var likeText = '좋아합니다.';
				var sameText = '공감하고 있습니다.';
				var queText = '궁금해 합니다.';
				
				$(".buttons").buttonset();
				$("button").button();
				
				var socket = new io.Socket(null, {port: #{port}, rememberTransport:false});
				socket.connect();
				socket.send({'type':'subscribe', 'channel':'#{p_id}'});
				socket.on('message', function(obj){
					var message = obj.msg;
					var countTag;
					
					// count up specific tag count
					switch(message.emotion) {
						case disText: countTag = $(".dis").next().next('.tag-count'); break;
						case diffText: countTag = $(".diff").next().next('.tag-count'); break;
						case likeText: countTag = $(".like").next().next('.tag-count'); break;
						case sameText: countTag = $(".same").next().next('.tag-count'); break;
						case queText: countTag = $(".que").next().next('.tag-count'); break;
						default: break;
					}
					var count = countTag.text();
					count++;
					countTag.text(count);
					
					// count up total tag count
					var totalTag = $(".all").next().next('.tag-count');
					count = totalTag.text();
					count++;
					totalTag.text(count);
					
					// add message
					$("#rt_feedbacks").append("<li>[" + message.from + "]님은 " + message.emotion + ' "' + message.body +  '"</li>');
					$("#comment").attr('value', '');
				});
				$('#send_comment').click(function(){
					var msg_body = $('#comment').val();
					var msg_emotion = $('#emotion :selected').val();
					if(!msg_body) {
						return;
					}
					socket.send({'type':'publish', 'channel':'#{p_id}', 'msg':{'body':msg_body, 'from':'#{username}', 'emotion':msg_emotion}});
				});
				
				$('.tag').click(function(){
					var emotion = $(this).attr('emotion');
					var list = $("#rt_feedbacks");
					
					$.getJSON('/comments/', {'to':'#{p_id}', 'emotion':emotion}, function(data){
						list.empty();
						$.each(data, function(index, message){
							list.append("<li>[" + message.from + "]님은 " + message.emotion + ' "' + message.body +  '"</li>');
						});
					});
				});
				
				
				
			});
	body(id='chat_body')
		div(id='title_bar')
			p #{username}의 feedbacks #{title}
		div(id='chat_box')
			ul(id='rt_feedbacks')
			div(id='statics_bar')
				ul
					li 
						span(class='tag dis', emotion='불만이 있습니다.') 불만
						span(class='between-tag-count') X 
						span(class='tag-count') #{disCount}
					li 
						span(class='tag diff', emotion='다르게 생각합니다.') 이견 
						span(class='between-tag-count') X 
						span(class='tag-count') #{diffCount}
					li 
						span(class='tag like', emotion='좋아합니다.') 호감 
						span(class='between-tag-count') X 
						span(class='tag-count') #{likeCount}
					li 
						span(class='tag same', emotion='공감하고 있습니다.') 동감 
						span(class='between-tag-count') X 
						span(class='tag-count') #{sameCount}
					li 
						span(class='tag que', emotion='궁금해 합니다.') 질문 
						span(class='between-tag-count') X 
						span(class='tag-count') #{queCount}
					li 
						span(class='tag all') 전체 
						span(class='between-tag-count') X 
						span(class='tag-count') #{allCount}
		div(id="input_bar")
			select(id='emotion')
				option(value='불만이 있습니다.') 불만입니다.
				option(value='다르게 생각합니다.') 이의있습니다.
				option(value='좋아합니다.', selected=true) 좋습니다.
				option(value='공감하고 있습니다.') 공감합니다.
				option(value='궁금해 합니다.') 궁금합니다.
			input(id='comment', name='comment', autocomplete='off', size='50')
			button(id='send_comment') Send