!!! 5
html(lang='utf-8')
	head
		title='The 11th JCO'
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery-1.6.1.min.js')
		script(type='text/javascript')
			$(function(){
				var socket = new io.Socket(null, {port: #{port}, rememberTransport:false});
				socket.connect();
				socket.send({'type':'subscribe', 'channel':'#{p_id}'});
				socket.on('message', function(obj){
					var message = obj.msg;
					console.log(obj);
					console.log('I got you: ' + message);
					$("#rt_feedbacks").append("<li>[" + message.from + "]님은 " + message.emotion + ' "' + message.body +  '"</li>');
					$("#comment").attr('value', '');
				});
				$('#send_comment').click(function(){
					var msg_body = $('#comment').val();
					var msg_emotion = $('#emotion :selected').val();
					socket.send({'type':'publish', 'channel':'#{p_id}', 'msg':{'body':msg_body, 'from':'#{username}', 'emotion':msg_emotion}});
				});
				
				$('.feedbacks button').click(function(){
					var emotion = $(this).attr('emotion');
					var list = $(this).next('ul');
					$.getJSON('/comments/', {'to':'#{p_id}', 'emotion':emotion}, function(data){
						console.log(list);
						//clear
						list.empty();
						
						//append
						$.each(data, function(index, message){
							list.append("<li>[" + message.from + "]님은 " + message.emotion + ' "' + message.body +  '"</li>');
						});
					});
				});
				
			});
	body
		h1 #{title}
		p feedbacks
		ul(id='rt_feedbacks')
		select(id='emotion')
			option(value='불만이 있습니다.') 불만입니다.
			option(value='다르게 생각합니다.') 이의있습니다.
			option(value='좋아합니다.', selected=true) 좋습니다.
			option(value='공감하고 있습니다.') 공감합니다.
			option(value='궁금해 합니다.') 궁금합니다.
		input(id='comment', name='comment', autocomplete='off', size='50')
		button(id='send_comment') Send
		div(class='feedbacks')
			button(id='show_all_comment') 모두 보기
			ul(id='all_feedbacks')
		div(class='feedbacks')
			button(id='show_dis_comment', emotion='불만이 있습니다.') 불만 보기
			ul(id='dis_feedbacks')
		div(class='feedbacks')
			button(id='show_diff_comment', emotion='다르게 생각합니다.') 이견 보기
			ul(id='diff_feedbacks')
		div(class='feedbacks')
			button(id='show_like_comment', emotion='좋아합니다.') 호감 보기
			ul(id='like_feedbacks')
		div(class='feedbacks')
			button(id='show_same_comment', emotion='공감하고 있습니다.') 공감 보기
			ul(id='same_feedbacks')
		div(class='feedbacks')
			button(id='show_que_comment', emotion='궁금해 합니다.') 질문 보기
			ul(id='que_feedbacks')